
{#
/**
 * @file
 * Base template
 *
 * Available variables:
 *
 */
#}


{{ attach_library('paragraphs_overrides/paragraph-facebook-feed') }}

<div id="facebookFeedHeader">
    Follow Us On Social Media
</div>
<div class="container-fluid">
    <div id="facebookFeed" class="row">
        <div class="col-12">
            <div class="results-wrapper">
                <div class="facebook-post-sizer"></div>
                <div class="gutter-sizer"></div>
            </div>
        </div>
    </div>
</div>