
{#
/**
 * @file
 * Base template
 *
 * Available variables:
 *
 */
#}

{{ attach_library('paragraphs_overrides/paragraph-careers-grid') }}

<div class="container">
    <div id="careersFeed" class="row">

    </div>
</div>