
{#
/**
 * @file
 * Base template
 *
 * Available variables:
 *
 */
#}

{{ attach_library('paragraphs_overrides/paragraph-google-map') }}

<div class="container-fluid">
    <div id="contactUsMaps" class="row">
        <div class="col-12 col-md-6 contact-item map east order-1 order-sm-2">
            <div id="bpdEast" class="map-block"></div>
        </div>
        <div class="col-12 col-md-6 contact-item location east order-2 order-sm-1">
            <div class="row">
                <div class="col">
                    <h3>BPD</h3>
                    <strong>Jason Brown</strong>
                    <p>CEO/Chief Strategy Officer</p>
                    <table>
                        <tr>
                            <td><i class="fas fa-envelope"></i></td>
                            <td>jbrown@bpdadvertising.com</td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-map-marker-alt"></i></td>
                            <td>
                                <span>
                                    <div>1825 NW Corporate Blvd, Suite 250</div>
                                    <div>Boca Raton, FL 33431</div>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-phone"></i></td>
                            <td>(561) 276-7701 x206</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 contact-item map east order-3">
            <div id="bpdWest" class="map-block"></div>
        </div>
        <div class="col-12 col-md-6 contact-item location west order-4">
            <div class="row">
                <div class="col">
                    <h3>BPD WEST</h3>
                    <strong>Robert Miller</strong>
                    <p>Managing Director, BPD West</p>
                    <table>
                        <tr>
                            <td><i class="fas fa-envelope"></i></td>
                            <td>rmiller@bpdadvertising.com</td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-map-marker-alt"></i></td>
                            <td>
                                <span>
                                    <div>620 Newport Center Drive, Suite 1100</div>
                                    <div>Newport Beach, CA 92660</div>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-phone"></i></td>
                            <td>(949) 200-4608</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>