
{#
/**
 * @file
 * Base template
 *
 * Available variables:
 *
 */
#}


<div id="servicesRows" class="container-fluid">

    <div id="servicesRowsHeader" class="row">
        <div class="col-12 col-md-8 offset-md-2">
            BPD INTEGRATED MARKETING PRODUCTS & SERVICES
        </div>
    </div>

    <div class="row service-row">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 title-column">
                    CONSULTING SERVICES
                </div>
                <div class="col-12 col-md-8 col-lg-4">
                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                    </ul>
                </div>
                <div class="col-12 col-md-8 offset-md-4 col-lg-4 offset-lg-0">
                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row service-row">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 title-column">
                    STRATEGIC SERVICES
                </div>
                <div class="col-12 col-md-8 col-lg-4">
                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                    </ul>
                </div>
                <div class="col-12 col-md-8 offset-md-4 col-lg-4 offset-lg-0">
                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row service-row">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 title-column">
                    CONTENT AND CREATIVE SERVICES
                </div>
                <div class="col-12 col-md-8 col-lg-4">
                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                    </ul>
                </div>
                <div class="col-12 col-md-8 offset-md-4 col-lg-4 offset-lg-0">
                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row service-row">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 title-column">
                    DIGITAL SERVICES
                </div>
                <div class="col-12 col-md-8 col-lg-4">
                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                    </ul>
                </div>
                <div class="col-12 col-md-8 offset-md-4 col-lg-4 offset-lg-0">
                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row service-row">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 title-column">
                    MEDIA SERVICES
                </div>
                <div class="col-12 col-md-8 col-lg-4">
                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                    </ul>
                </div>
                <div class="col-12 col-md-8 offset-md-4 col-lg-4 offset-lg-0">
                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>