{#{% include active_theme_path() ~ '/imgs/gptw-footer.png' %}#}

<div id="footerWrapper">
    <div id="footerContainer">
        <div id="leftColumn">
            <div class="left-column-row">
                <a href="/our-work">creative</a>
                <a href="/culture">culture</a>
                <a href="/about-us">difference</a>
                <a href="/careers">careers</a>
                <a href="/contact">contact</a>
                <a href="/blog">blog</a>
            </div>
        </div>
        <div id="rightColumn">
            <div class="right-column-row">
                <div id="eastLocation" class="right-column-block">
                    <div class="inside">
                        <div class="field-item __heading">
                            Boca Raton, FL
                        </div>
                        <div class="field-item">
                            +1 561 276 7701
                        </div>
                        <div class="field-item">
                            jbrown@bpdadvertising.com
                        </div>
                        <div class="field-item">
                            <div class="street">
                                1825 NW Corporate Blvd., Suite 250
                            </div>
                            <div class="city-st-zip">
                                Boca Raton, FL 33431
                            </div>
                        </div>
                    </div>
                </div>
                <div id="westLocation" class="right-column-block">
                    <div class="inside">
                        <div class="field-item __heading">
                            Newport Beach, CA
                        </div>
                        <div class="field-item">
                            +1 561 276 7701
                        </div>
                        <div class="field-item">
                            jbrown@bpdadvertising.com
                        </div>
                        <div class="field-item">
                            <div class="street">
                                1825 NW Corporate Blvd., Suite 250
                            </div>
                            <div class="city-st-zip">
                                Boca Raton, FL 33431
                            </div>
                        </div>
                    </div>
                </div>
                <div id="gptwLogo" class="right-column-block">
                    <div class="gptw-logo">
                        <img src="{{ '/' ~ active_theme_path() ~ '/imgs/gptw-footer.png' }}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div id="socialIcons">
            <div class="social-icons-row">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>

<div id="header">

</div>